@use "../../App.scss" as g;

.cart-item-list-wrap {
  .del-box {
    @include g.myFlex();
    padding-bottom:12px ;
    line-height: 20px;
    align-items: center;
    font-size: 1.6rem;
    color: g.$sub-color3;
    border-bottom:1px solid g.$sub-color2 ;

    .del-total {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .del-button {
      display: flex;
      gap: 4px;
    }
  }

  .cart-item-list {
    display: flex;
    flex-direction: column;

    li {
      padding: 20px 0;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .cart-item {
      padding: 16px 0;
      border-bottom: 1px dashed g.$sub-color2;

      .cart-item-inner {
        @include g.myFlex();
        font-size: 1.6rem;

        .item-left {
          display: flex;
          align-items: center;
          gap: 20px;
          flex: 1;

          .item-img-box {
            display: flex;
            aspect-ratio: 1/1;
            width: 100px;
            gap: 8px;
            object-fit: cover;

          }

          .item-text-box {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .item-desc {
              display: flex;
              flex-direction: column;
              gap: 8px;

              >.item-op {
                display: flex;
                gap: 20px;
                color: g.$sub-color4;
                font-size: 14px;

              }

              >.item-brand {
                color: g.$sub-color3;
                font-size: 14px;
              }
            }
          }
        }

        .item-right {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        .del-icon {
          cursor: pointer;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}