@use "../../App.scss" as g;

.cart-popup-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 1000;
    font-size: 1.6rem;
    line-height: 1.6;
    .cart-popup {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h4{
        font-size: 2rem;
    }
    .cart-popup-bottom{
        display: flex;
        gap: 4px;
    }

}