@use '../../App.scss' as g;

section{
  display: flex;
  flex-direction: column;
  gap: 32px;

  .section-title{
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3{
      padding: 0;
      margin: 0;
      font-size: 24px;
    }
    .best-review{
      font-size: 14px;
      color:g.$sub-color3;
    }
  }
  .like-btn{
    margin-bottom: 40px;
  }
  .review-box-list{
    display: flex;
    justify-content: space-between;
    gap: 66px;
    height: 340px;

    li{
      width: 100%;
      height: 100%;
    }
  }
}