.main-sliders {
  width: 100%;
  //   padding: 40px 0;
  background: #000; // 전체 배경 블랙 (이미지처럼)

  .swiper {
    padding-bottom: 60px;
  }

  /* 양옆(기본 슬라이드 스타일) */
  .swiper-slide {
    position: relative;
    transition: 0.45s ease;
    transform: scale(0.8);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-box {
      img {
        width: 100%;
        display: block;
      }

      /* 검은 오버레이 */
      &::after {
        content: '';
        position: absolute;
        top: 0;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        transition: 0.45s ease;
      }
    }

    .text-box {
      opacity: 0;
      transition: 0.4s ease;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {

        &:nth-of-type(1) {
          font-size: 14px;
          opacity: 0.8;
        }

        &:nth-of-type(2) {
          font-size: 5.2rem;
          font-weight: 500;
        }

        &:nth-of-type(3) {
          font-size: 20px;
        }
      }

    }
  }

  .swiper-slide-active {
    transform: scale(1);
    opacity: 1;

    .img-box::after {
      background: rgba(0, 0, 0, 0); // 오버레이 제거
    }

    .text-box {
      opacity: 1;
      // top: 60%; ???왜 이렇게 됐는지 모르겠슴
    }
  }

  /* 양옆이 더 흐릿하게 만들고 싶으면 이것 유지 */
  //   .swiper-slide-prev,
  //   .swiper-slide-next {
  //     opacity: 0.15;
  //   }
}