@use "../../App.scss" as g;

.content-inner {

  &.memberinfo {
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem;

    .user-info-left{
      width: 15%;
    }

    .user-info-right {
      width: 80%;
      border: 1px solid g.$sub-color2;
      padding: 5rem 3rem;
      display: flex;
      flex-direction: column;

      .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .section-title {
          font-size: 2.6rem;
          font-weight: 500;
        }

        .user-information {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .information-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .info-th {
              width: 140px;
              padding: 10px;
              font-size: 16px;
            }

            .info-td {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 16px 10px;
              font-size: 14px;
              color: #bababa;

              &>.password {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }

  }

}