@use "../../App.scss" as g;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  z-index: 1000;

  .modal-content {
    background: white;
    padding: 20px 40px;
    width: 90%;
    max-width: 680px;
    max-height: 80vh;
    overflow-y: auto;

    .modal-header {
      @include g.myFlex();
      .h-totalPrice {
        flex: 1;
        @include g.myFlex();
        h2 {
          font-size: 2rem;
          margin: 0;
        }
        p {
          font-size: 20px;
        }
      }

      .close-button {
        background: none;
        border: none;
        font-size: 4rem;
        font-weight: 100;
        cursor: pointer;
        color: g.$main-color1;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 12px;
      p {
        line-height: 1.4;
      }
      .date {
        @include g.myFlex();
        color: g.$sub-color3;
        font-size: 14px;
      }
      .total-price {
        padding: 8px;
        text-align: right;
        background-color: g.$sub-color1;
      }
      .product-list {
        max-height: 400px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: g.$sub-color2;
        }
        &::-webkit-scrollbar-track {
          background-color: g.$sub-color1;
        }
        .product-item {
          @include g.myFlex($gap: 0px);
          padding: 10px 0;
          border-bottom: 1px dashed #eee;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          .product-details {
            flex: 1;
            @include g.myFlex($gap: 12px, $jc: flex-start);
            .img-box {
              width: 60px;
              img {
                width: 100%;
              }
            }
            .text-box {
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 0px;
              .product-brand {
                font-size: 12px;
                color: g.$sub-color3;
              }
              .product-title {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }
              .product-option {
                @include g.myFlex($gap: 20px, $jc: flex-start);
                font-size: 14px;
                color: g.$sub-color3;
              }
            }
          }
          .product-price-wrap {
            padding-right: 8px;
            text-align: right;
            width: 120px;
          }
        }
      }
    }

    .modal-footer {
      text-align: center;
      margin-top: 20px;

      .confirm-button {
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
