@use '../../App.scss' as g;

.qna-header{

  h3{
    font-size: 24px;
  }
  .header-text{
    font-size: 14px;
    color: g.$sub-color3;
  }
}
.qna-list-wrap{
  border-top: 1px solid #000;

  .qna-list-box{
    height: 132px;

    .qna-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border-top: 1px solid #bababa;
      border-bottom: 1px solid g.$sub-color2;
      height: 100%;

      .number-list{
        display: block;
        max-width: 104px;
        top: 50%;
        padding: 0 48px;
        font-size: 16px;
      }
      .list-item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 32px;
        gap: 20px;

        .top-item{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 40px;

          .user-id{
            color: g.$sub-color3;
            font-size: 16px;
          }
          .split{
            color:g.$sub-color3;
          }
          .upload-date{
            font-size: 16px;
            color:g.$sub-color3;
          }
          .answer-wait{
            color: g.$sub-color3;
            font-size: 16px;
          }
          .answer-complete{
            font-size: 16px;
            color: g.$percent-color;
          }
        }
        .item-qna-title{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;

          .qna-title{
            font-size: 16px;
            font-weight: 600;
            color: g.$sub-color3;
          }
          .lock-img{
            width: 20px;
            height: 20px;
          }
        }
      }
      .qna-list-door{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 100px;

        // .arrow{
        //   transition: transform 0.3s ease;
        // }
        .arrow.up{
          transform: rotate(180deg);
        }

        img{
          width: 20px;
          height: 10px;
        }
      }
    }
  }
}

.answer-list-box{
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, transform 0.3s ease;

  &.open{
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    padding: 40px 580px 50px 100px;
  }

  .answer-qnaTitle{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .customer-service{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 22px;

    img{
      width: 20px;
      height: 20px;
    }
    .service-center{
      font-size: 16px;
      color: g.$main-color1;
    }
    .answer-date{
      font-size: 16px;
      color: g.$sub-color2;
    }
  }
  .answer-customer{
    padding-left: 40px;

    .answer-customer-text{
      font-size: 16px;
      color: g.$sub-color3;
      line-height: 1.9;
    }
  }
}