@use "../../App.scss" as g;

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 1000;
  color: g.$main-color2;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
}

.search-input-box {
  position: relative;
  height: 51px;
  line-height: 51px;

  .search-container {
    margin: 100px auto;
    width: 800px;
    text-align: center;
    position: relative;

    .search-input {
      width: 100%;
      height: 51px;
      line-height: 51px;
      padding: 14px;
      font-size: 1.8rem;
      color: g.$main-color2;
      background: none;
      border: none;
      border-bottom: 1px solid g.$main-color2;

      &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid g.$main-color2;
      }
    }

    .search-icon {
      position: absolute;
      top: 14px;
      right: 10px;
      color: g.$main-color2;
    }

    .clear-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
      width: 24px;
      height: 24px;
      background: g.$sub-color3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0;
      border: none;

      img {
        width: 14px;
        height: 14px;
        object-fit: contain;
      }
    }

    .search-suggestions {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;

      .popular-keywords {
        max-width: 200px;
        width: 100%;
      }

      .recent-keywords,
      .popular-keywords {
        p {
          margin-bottom: 20px;
          font-size: 2rem;
          text-align: start;
        }

        .recent-keywords-del {
          max-width: 200px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 60px;
          position: relative;

          button {
            text-decoration: underline;
            color: g.$main-color2;
            margin-bottom: 20px;
          }
        }
      }

      .no-recent {
        font-size: 1.4rem;
        line-height: 17px;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
        max-width: 200px;
        position: relative;

        li {
          display: flex;
          align-items: center;
          gap: 16px;

          .keyword-button {
            font-size: 1.4rem;
            color: g.$main-color2;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            text-align: left;
          }

          .delete-btn {
            width: 16px;
            height: 16px;
            cursor: pointer;
            background: g.$sub-color3;
            position: absolute;
            right: 0;

            img {
              width: 14px;
              height: 14px;
              object-fit: contain;
            }
          }

          button.popular {
            font-size: 1.4rem;
            color: g.$main-color2;
            border-radius: 4px;
            cursor: pointer;
            text-align: left;

            span.rank {
              font-family: "Times New Roman";
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  .search-preview {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: g.$main-color2;
    max-height: 400px;
    z-index: 101;
    padding: 0;
    margin-top: 4px;

    li {
      padding: 4px 8px;
      font-size: 1.6rem;
      line-height: 2.4;
      color: g.$main-color2;
      z-index: 100;
      text-align: start;
      cursor: pointer;

      &.active {
        background: rgba($color: #000000, $alpha: 0.15);
        color: #fff;
        text-align: left;
      }
    }

    mark {
      background-color: transparent;
    }
  }

  .no-result {
    padding: 20px;
    text-align: center;
    color: g.$main-color2;
    font-size: 1.4rem;
  }
}
