@use '../../App.scss' as g;

.Error404 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 4rem;

    >p {
        >span {
            display: block;
        }
    }

    .error-num {
        color: g.$percent-color;
        font-size: 80px;
        font-weight: 700;

    }

    .main-post {
        color: g.$main-color1;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.4;
    }

    .sub-post {
        color: g.$sub-color3;
        color: #838383;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }

    .btn-box {
        @include g.myFlex($jc: center, $gap: 8px)
    }
}