@use "../../App.scss" as g;

.sub-page {
  .nonmember-inner {
    margin: 40px auto 280px;
    max-width: 170rem;
    padding: 0 20px;

    .sub-page-title {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .nonmember-wrap {
      display: flex;
      justify-content: space-between;

      .sub-inner-left {
        border: 1px solid #ccc;
        width: 70%;
        .sub-inner-left-top {
          display: flex;
          padding: 40px;
          margin-bottom: 20px;

          // 공통: 주문자 정보 & 배송지 정보
          .sub-order-inf,
          .sub-address-inf {
            width: 50%;

            p {
              font-size: 16px;
              color: g.$sub-color3;
              border-bottom: 1px solid g.$sub-color2;
              padding-bottom: 20px;
              margin-bottom: 30px;
            }

            form {
              display: flex;
              flex-direction: column;
              gap: 24px;

              label {
                display: flex;
                justify-content: space-between;
                gap: 34px;
                align-items: center;

                span {
                  display: block;
                  width: 122px;
                  font-size: 16px;
                  font-weight: 400;
                }

                input {
                  width: 100%;
                  height: 40px;
                }
              }
            }
          }

          // 주문자 정보 전용
          .sub-order-inf form {
            padding-right: 25px;
          }

          // 배송지 정보 전용
          .sub-address-inf form {
            padding-left: 25px;

            // 주소 입력 라벨
            .address-label {
              align-items: baseline;
              display: flex;
              justify-content: space-between;
              flex-direction: row;

              span {
                width: 122px;
              }

              div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                .add-inf-inner-top {
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  flex-wrap: nowrap;

                  input {
                    flex: 1;
                  }
                }
              }
            }
          }
        }
        > p {
          padding-left: 40px;
          font-size: 16px;
          color: g.$sub-color3;
          // border-bottom: 1px solid g.$sub-color2;
        }
        .sub-inner-left-bottom {
          border-top: 1px solid #bababa;
          margin: 30px 40px 40px 40px;
          // padding-top: 30px;
          // background: red;
          .pay-item-list-wrap {
          }
        }
      }

      .cartPo-wrap {
        justify-content: flex-end;
        border: 1px solid #bababa;
        margin-right: 0;
        height: 30%;
        width: 25%;
        // border: 1px solid black;
        padding: 4rem;

        .cartPo-inner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2.5rem;

          .cartPo-inner-top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.5rem;

            p {
              color: g.$main-color1;
              font-size: 2rem;
              font-weight: 400;
            }

            .cartPo-pay-list {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .cartPo-pay {
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
                font-weight: 400;

                &.dis {
                  color: g.$percent-color;
                }

                &.del {
                  color: g.$sub-color3;
                  font-size: 1.4rem;
                }
              }
            }
          }

          .cartPo-inner-bottom {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .cartPo-pay-total {
              font-size: 1.6rem;
              font-weight: 500;
              display: flex;
              justify-content: space-between;
            }

            .cartPo-btn {
              display: flex;
              align-items: center;
              justify-content: center;

              a {
                display: block;
                padding: 2rem;
                width: 100%;
                background-color: g.$main-color1;
                color: g.$main-color2;
                font-size: 2rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.request-label {
  position: relative;

  .request-input-wrap {
    position: relative;
    display: block;
    width: 100%;
  }
  .request-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 10;
    border: 1px solid g.$sub-color2;
    border-top: none;

    .request-item {
      cursor: pointer;
      background-color: g.$main-color2;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      color: g.$sub-color3;
      font-size: 1.6rem;
      line-height: 40px;
    }
  }
}

.postcode-overlay {
  @include g.postBackStyle();
}
.postcode-modal {
  @include g.postStyle();
}
