@use '../../App.scss' as g;

.sub-main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem auto;
    max-width: 1720px;
    padding: 0 2rem;

    h2.sub-main-title {
        text-align: center;
        color: g.$main-color1;
        font-family: "Times New Roman";
        font-size: 4rem;
        font-weight: 400;
    }

    h3 {
        color: g.$main-color1;
        text-align: center;
        font-family: "Times New Roman";
        font-size: 3.2rem;
        font-weight: 400;
    }
}