$main-color1: #000000;
$main-color2: #ffffff;
$percent-color: #eebe81;
$sub-color1: #f2f2f2;
$sub-color2: #bababa;
$sub-color3: #838383;
$sub-color4: #545454;
$sub-color5: #2c2c2c;

// 공통 사항 layout
.content-inner {
  max-width: 1720px;
  margin: 0 auto;
}

// header title
.section-title {
  font-size: 40px;
}

// 공통 mixin
@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 2rem) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  gap: $gap;
}

@mixin myGrid($gap: auto) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(5, minmax(240px, 1fr));

  @media (max-width: 1320px) {
    // auto-fit을 사용하면 공간이 부족할 때 자동으로 줄바꿈이 일어납니다.
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@mixin postBackStyle() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

@mixin postStyle() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 20px;
}
